body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

input {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

    input[type=button],
    input[type=submit] {
        border: solid 1px black;
        background-color: #f6f6f6;
    }


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Admin area 
-----------------------------------------------------------*/

.application-icon {
    width: 40px;
    height: 40px;
}

.application-item {
    width: 175px;
    height: 175px;
    margin: 20px;
    background-color: #f6f6f6;
    border: solid 1px #b7b6b6;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ddd;
    text-align: center;
    text-decoration: none;
    color: #000;
    float: left;
}

    .application-item:hover {
        background-color: #fdfdfd;
    }

    .application-item .application-icon {
        margin-top: 40px;
    }

    .application-item .application-name {
        font-size: 16px;
        font-weight: 600;
        margin-top: 5px;
    }

    .application-item .application-versions {
        margin-top: 3px;
    }

.application-info {
    margin-bottom: 15px;
}
.application-info * {
    float: left;
}

.application-info .application-name {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 10px 0 10px;
}

.application-info a {
    margin-top: 12px;
}

.versions-container {
    margin: 10px 0 10px 0;
}

.version-info {
    font-size: 16px;
}

/* Helpers
-----------------------------------------------------------*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}